<md-dialog aria-label="item" ng-controller="DialogController as vm">
    <form ng-submit="vm.saveItem()" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{!vm.item.process.id ? 'Create new' : 'Edit'}} item</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon class="material-icons">highlight_off</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="manager-dialog-content" style="max-width: 450px">
                    <img ng-src="{{vm.item.place.cover_picture}}" class="dialog-image" />
                    <md-input-container class="md-block mb0">
                        <label>Name</label>
                        <input ng-model="vm.item.place.name" required type="text"/>
                    </md-input-container>
                    <h4 class="mt0">Address</h4>
                    <md-input-container class="md-block mt0 mb0">
                        <label>Street</label>
                        <input ng-model="vm.item.place.address.street" required type="text"/>
                    </md-input-container>
                    <div layout-gt-xs="row" layout-xs="column">
                        <md-input-container class="md-block mt0 mb0" flex-gt-xs="50" flex-xs="none">
                            <label>City</label>
                            <input ng-model="vm.item.place.address.city" required type="text"/>
                        </md-input-container>
                        <div flex></div>
                        <md-input-container class="md-block mt0 mb0" flex-gt-xs="45" flex-xs="none">
                            <label>Country</label>
                            <input ng-model="vm.item.place.address.country" required type="text"/>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row" layout-xs="column">
                        <md-input-container class="md-block mt0 mb0" flex-gt-xs="50" flex-xs="none">
                            <label>Area</label>
                            <input ng-model="vm.item.place.address.area" required type="text"/>
                        </md-input-container>
                        <div flex></div>
                        <md-input-container class="md-block mt0 mb0" flex-gt-xs="30" flex-xs="none">
                            <label>Zip</label>
                            <input ng-model="vm.item.place.address.zip" required type="text"/>
                        </md-input-container>
                    </div>
                    <h4 class="mt0 mb0">Rating</h4>
                    <md-slider md-discrete ng-model="vm.item.review.rating" step="0.1" min="1" max="5" aria-label="rating"></md-slider>
                    <md-chips ng-model="vm.item.review.tags" readonly="false" md-removable="true"
                        md-enable-chip-edit="true" 
                        placeholder="Add tag" 
                        secondary-placeholder="+Tag"></md-chips>
                    <md-input-container class="md-block mt35">
                        <label>State</label>
                        <md-select ng-model="vm.item.process.state">
                            <md-option ng-repeat="(k,s) in vm.itemStates" value="{{k}}">
                                {{s}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-chips ng-model="vm.item.sources" readonly="false" md-removable="true"
                        md-enable-chip-edit="true" 
                        md-transform-chip="vm.newSource($chip)"
                        placeholder="Add source" 
                        secondary-placeholder="+Url">
                        <md-chip-template>
                            <span>{{$chip.url}}</span>
                        </md-chip-template>
                    </md-chips>
                    <div class="source-errors" ng-show="vm.showError">You should add only valid url</div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-if="!vm.item.process.id" type="submit">Save</md-button>
            <span flex></span>
            <md-button ng-click="vm.closeDialog()">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
