<md-card ng-click="vm.openDialog(vm.item.process.id)" class="relative">
    <md-card-header class="pb10">
        <md-card-header-text flex>
            <md-icon aria-label="Search" ng-click="vm.removeItem($event, vm.item.process.id)" class="remove-icon" ng-if="vm.isManager">
                <i class="material-icons">highlight_off</i>
                <md-tooltip md-direction="top">Remove item</md-tooltip>
            </md-icon>
            <span class="md-title">{{vm.item.place.name}}</span>
            <span class="md-subhead">{{vm.item.place.address.street + ', ' + vm.item.place.address.city + ', ' + vm.item.place.address.country}}</span>
            <div>
                <a ng-repeat="h in vm.item.sources" class="label label-info mr5" ng-href="{{h.url}}" ng-click="vm.stopPropagation($event)" target="_blank">{{h.url|getDomain}}</a>
            </div>
        </md-card-header-text>
        <md-card-header-text flex="initial" class="text-right">
            <span class="label label-success">{{vm.itemStates[vm.item.process.state]}}</span>
            <div class="md-subhead float-right">{{vm.item.process.added|getDate}}</div>
        </md-card-header-text>
    </md-card-header>
    <md-card-content class="pt0" layout="row">
        <div class="star-rating" flex="initial">
            <div class="stars" ng-style="vm.item.review.rating|getRateWidth"></div>
            <md-tooltip md-direction="bottom">Rating {{vm.item.review.rating}}</md-tooltip>
        </div>
        <div flex class="text-right" ng-if="vm.item.review.tags">
            <span class="label label-tag" ng-repeat="t in vm.item.review.tags">{{t}}</span>
        </div>
    </md-card-content>
</md-card>