<section class="content" layout-fill layout="column" layout-align="space-between center">
    <div flex style="width: 100%; overflow-y:auto;">
        <div class="container md-whiteframe-z5 ng-hide" layout="column" ng-show="!vm.loading">
            <div layout="row">
                <md-input-container class="md-icon-float md-block mb0" flex="50">
                    <form ng-submit="vm.searchS();">
                        <label>Search</label>
                        <input ng-model="vm.search" type="text"/>
                    </form>
                </md-input-container>
                <md-icon aria-label="Search" flex="none" ng-click="vm.searchS()"><i class="material-icons search-icon">search</i></md-icon>
                <div flex></div>
                <md-button ng-hide="!vm.isManager" title="" ng-click="vm.openDialog()" class="md-fab md-mini md-primary" aria-label="Add new item" flex="none">
                    <i class="material-icons">add</i>
                    <md-tooltip md-direction="top">Add new item</md-tooltip>
                </md-button>
            </div>
            <div layout="column">
                <content-item item="s" ng-repeat="s in vm.items track by $index"></content-item>
                <div ng-show="vm.items.length === 0">
                    <h3 class="text-center">No items found</h3>
                </div>
                <pagination></pagination>
            </div>
        </div>
    </div>
    <div ng-show="vm.loading" class="loading-lay">
        <md-progress-circular md-mode="indeterminate" md-diameter="80"></md-progress-circular>
    </div>
</section>