<div class="pagination-block" layout="row">
    <div flex layout="row" layout-align="center center">
        <md-button class="md-fab md-mini md-primary" aria-label="" ng-click="vm.changePage('prev')" ng-disabled="vm.page==1" ng-if="vm.totalPages > 1"><</md-button>
        
        <form ng-submit="vm.changePage()" name="pform">
            <md-input-container class="text-center page-input" ng-if="vm.totalPages > 1">
                <label>&nbsp;&nbsp;&nbsp;Page</label>
                <input ng-model="vm.page" aria-label="Pagination" type="text" maxlength="4" class="text-center"/>
                <div class="text-center mini-text">of {{vm.totalPages}}</div>
            </md-input-container>
        </form>
        
        <md-button class="md-fab md-mini md-primary" aria-label="" ng-click="vm.changePage('next')" ng-disabled="vm.page == vm.totalPages" ng-if="vm.totalPages > 1">></md-button>
    </div>
</div>